<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}" th:inline="javascript">
<head>
  <meta charset="UTF-8">
  <title>Add academic year</title>
</head>
<body>

<section class="container-fluid px-3">
  <div class="mt-2">
    <div th:replace="~{components/ui :: page-header('Examination Form')}"></div>


    <form th:action="@{/admin/examination}" th:object="${examination}" method="post" >
      <div class="row g-2">

        <div class="col-md-5">
          <label for="examinationName" class="form-label">Examination Name</label>
          <input type="text"  class="form-control" id="examinationName" name="examinationName" th:field="*{examinationName}" />
          <p class="text-danger" th:if="${#fields.hasErrors('examinationName')}" th:errors="*{examinationName}">Name Error</p>
        </div>
        <div class="col-md-6">
          &nbsp;
        </div>

        <div class="col-md-7">
          <label for="description" class="form-label">Description</label>
          <div class="form-floating">
            <textarea id="description" placeholder="Add description here" class="form-control" name="remarks" style="height: 100px;" rows="4" cols="50" th:field="*{remarks}"></textarea>
            <label for="description">Add Description Here</label>
          </div>
          <p class="text-danger" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}">description Error</p>
        </div>
        <div class="col-md-2">
          &nbsp;
        </div>


        <hr/>
        <div class="col-md-4">
          <a class="btn btn-outline-secondary btn-sm" th:href="@{/admin/examinations}"><i class="bi bi-arrow-left"></i> Back to List</a>
        </div>
        <div class="col-md-6 mb-5">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save2-fill"></i> Save</button>
        </div>
      </div>
    </form>





  </div>

  <script type="text/javascript" th:inline="javascript">
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "600",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    


  </script>


  <!-- jQuery / Bootstrap / toastr / select2 / jQuery-UI tags removed: base.html
       now loads them in <head>, so they are available before this page's
       inline scripts run. They used to be duplicated on every page. -->
</section>


</body>
</html>


